/almacenamiento_servidor/*
!/almacenamiento_servidor/.gitkeep
/h1_subida/*
!/h1_subida/.gitkeep
/h3_subida/*
!/h3_subida/.gitkeep
/h4_descarga/*
!/h4_descarga/.gitkeep
/h5_descarga/*
!/h5_descarga/.gitkeep
/logs/*
!/logs/.gitkeep
/capturas/*
!/capturas/.gitkeep
